#hp-content-list-product2 {
  margin-top: 20px;
  .one-category {
    margin-bottom: 20px;
    .title-top {
      h3.header-title {
        font-size: 15px;
        line-height: 1.8;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid #F68C22;
        margin-top: 10px;
        margin-bottom: 10px;
        span {
          color: #444;
          position: relative;
          display: inline-block;
          padding: 10px 20px 10px 20px;
          width: auto;
          background-color: #05577a;
          a {
            float: left;
            color: white;
          }
        }
        span:after {
          content: '';
          position: absolute;
          left: 100%;
          top: 0;
          width: 8px;
          height:100%;
          background-color: #05577a;
          margin-left: 3px;
          //border-left: 25px solid #05577a;
          //border-top: 23.5px solid transparent;
          //border-bottom: 23.5px solid transparent;
        }
        span:before {
          content: '';
          position: absolute;
          left: 100%;
          top: 0;
          width: 8px;
          height:100%;
          background-color: #05577a;
          margin-left: 3px;
          //border-left: 25px solid #05577a;
          //border-top: 23.5px solid transparent;
          //border-bottom: 23.5px solid transparent;
        }
        ul {
          float: right;
          padding-top: 10px;
          li {
            display: inline-block;
            a {
              font-size: 13px;
              margin-right: 10px;
            }
            a.view-all {
              margin-right: 10px;
            }
          }
        }
      }

    }
    #list-product-content {
      .demo-flex {
        display: flex;
        .list-category {
          background-color: rgba(83, 134, 168, 0.46);
          img.image-category {
            width: 100%;
            height: 250px;
          }
          a {
            color: #333333;
            line-height: 1.5;
            padding-right: 5px;
            padding-left: 5px;
            margin-top: 5px;
            display: block;
            margin-bottom: 5px;
          }
        }
        .list-item {
          .m-list-product {
            a {
              color: #333333;
              background-color: rgba(40, 68, 69, 0.09);
              display: flex;
              text-align: center;
              margin-left: 5px;
              margin-right: 5px;
              margin-bottom: 5px;
              height: 45px;
              justify-content: center;
              align-items: center;
            }
          }
          .one-item {
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
            .discount {
              position: absolute;
              color: white;
              background-color: #ff9c33;
              padding: 0 10px;
              height: 22px;
              line-height: 22px;
              margin-left: 5px;
              left: 10px;
              top: 20px;
              font-size: 12px;
            }
            img {
              width: 100%;
              height: 180px;
            }
            .item-detail {
              .title {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                position: relative;
                text-align: left;
                margin: 15px auto 0;
                letter-spacing: .1px;
                width: 100%;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                color: #888;
              }
              .price-sale {
                color: #f69419;
                line-height: 1.5;
                font-weight: bold;
              }
              .price-saving {
                text-decoration: line-through;
                color: #cccccc;
                //display: block;
              }
              .price-contact {
                color: red;
                font-size: 21px;
                margin-top: 10px;
                display: block;
              }
            }
          }
          .one-item:hover {
            box-shadow: 0px 3px 13px 0px rgba(136, 136, 136, 0.25);
          }
        }
        .hp-one-item-more {
          text-align: center;
          span {
            a {
              display: inline-block;
              color: white;
              padding: 5px 10px;
              text-transform: capitalize;
              background-color: #284445;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #hp-content-list-product2 {
    .one-category {
      .title-top {
        h3.header-title {
          span {
            width: 100%;
          }
          span:after {
            display: none;
          }
        }
        img {
          height: 75px
        }
      }
      #list-product-content {
        .demo-flex {
          .list-item {
            display: block;
            //.one-item {
            //  width: 50%;
            //}
            .one-item {
              .item-detail {
                .price-saving {
                  font-size: 15px;
                  color: #ccc;
                }
                .price-sale {
                  .discount {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}

p {
  margin-bottom: 10px;
}
