#hp-content-list-product {
  margin-top: 20px;
  .one-category {
    .title-top {
      h3.header-title {
        font-size: 15px;
        line-height: 1.8;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 1px solid #F68C22;
        margin-top: 10px;
        margin-bottom: 10px;
        span {
          color: #444;
          position: relative;
          display: inline-block;
          padding: 10px 20px 10px 20px;
          width: 25%;
          background-color: #204243;
          a {
            float: left;
            color: white;
          }
        }
        span:after {
          content: '';
          position: absolute;
          left: 100%;
          top: 0;
          border-left: 25px solid #204243;
          border-top: 27px solid transparent;
          border-bottom: 20px solid transparent;
        }
        //span:before {
        //  content: "\f00b";
        //  padding: 10px;
        //  background-color: #706363;
        //  color: #fff;
        //  display: inline-block;
        //  font: normal normal normal 14px/1 FontAwesome;
        //  font-size: inherit;
        //  text-rendering: auto;
        //  -webkit-font-smoothing: antialiased;
        //  -moz-osx-font-smoothing: grayscale;
        //  transform: translate(0, 0);
        //  margin-right: 10px;
        //}

        ul {
          float: right;
          padding-top: 10px;
          li {
            display: inline-block;
            a {
              font-size: 13px;
              margin-right: 10px;
            }
            a.view-all {
              margin-right: 10px;
            }
          }
        }
      }
      img {
        width: 100%;
      }
    }
    .list-item {
      //display: flex;
      //flex-direction: row;
      //align-items: center;
      //align-self: stretch;
      //justify-content: space-between;
      margin-top: 10px;

      .one-item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        img {
          width: 100%;
          height: 250px;
        }
        .item-detail {
          .title {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;
            text-align: left;
            margin: 15px auto 0;
            letter-spacing: .1px;
            width: 100%;
            font-size: 13px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            color: rgb(123, 123, 123);
          }
          .price {
            color: #d21f30;
            font-size: 17px;
            font-weight: bold;
            padding: 10px 0 0;
            text-align: left;
          }
        }
      }
      .one-item:hover {
        box-shadow: 0px 3px 13px 0px rgba(136, 136, 136, 0.25);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #hp-content-list-product {
    .one-category {
      .title-top {
        h3.header-title {
          span {
            width: 100%;
          }
          span:after {
            display: none;
          }
        }
        img {
          height: 75px
        }
      }
      .list-item {
        display: block;
        //.one-item {
        //  width: 50%;
        //}
      }
    }
  }
}