.slider{
  margin-top: 16px;
}
.nivoSlider {
  position: relative;
  width: 99%;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

div.img-slider{
  width: 100%;
  height: 98%;
  overflow: hidden;
  transform: scale(1);
  transition: 1s;
  background-color: transparent;
}

img.img-slider1{
  transition: .3s;
}

div.img-slider:hover img.img-slider1{
  transform: scale(1.3);
}

.nivoSlider img {
  height: auto !important;
}

.nivo-main-image {
  height: 100% !important;
}

@media screen and(max-width: 415px) {
  #slider{
    margin-top: 50px;
  }
  .nivoSlider {
    position: relative;
    width: 99%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}