.slider{
  margin-top: 16px;
}
.nivoSlider {
  position: relative;
  width: 99%;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.nivoSlider img {
  height: 100% !important;
}

.nivo-main-image {
  height: 100% !important;
}

@media screen and(max-width: 415px) {
  #slider{
    margin-top: 50px;
  }
  .nivoSlider {
    position: relative;
    width: 99%;
    height: 224px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}