

#menu-category-2 {
  margin-top: 13px;
  .one-category {
    margin-bottom: 10px;

    h3 {
      text-align: center;
      padding:5px 0px;
      display: block;
      background: linear-gradient(to right, #02526f, #284445);
      a {
        text-transform: uppercase;
        font-size: 13.8px;
        color: white;
        font-weight: bold;
        display: block;
        padding: 10px;
      }
    }
    ul.list-sub-item {
      list-style-type: none;
      display: block;
      box-shadow: 0px 3px 13px 0px rgba(136, 136, 136, 0.25);
      li {
        a {
          color: #333333;
          display: block;
          padding: 10px;
          border-bottom: 1px solid #d6d6d6;
          border-left: 1px solid #d6d6d6;
          border-right: 1px solid #d6d6d6;
          transition: all 0.2s;
          font-size: 14px;
        }
        a:hover{
          color:white;
          padding-left: 20px;
          background-color: #ff9c33;
        }
      }
    }
  }
}