.m-category-layout {
  display: inline-flex;
  flex-wrap: wrap;
  h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  .one-item{
    border: 1px solid #c7c7cd;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    a {
      display: block;
      overflow: hidden;
      img.img-one-item {
        height: 145px;
        width: 100%;
        padding: 5px;

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}