#introduce-info{
  margin-top: 20px;
  h1{
    display: block;
    text-align: center;
    font-size: 28px;
    color: #0d51db;
  }
  .description{
    margin-top: 20px;
    line-height: 1.5!important;
  }
}